img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.options ul li:hover {
  cursor: pointer;
}

.grid_product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product__details__price {
  font-size: 30px;
  font-weight: 600;
  color: #ca1515;
  margin-bottom: 30px;
}

.product__details__price span {
  font-size: 18px;
  color: #b1b0b0;
  text-decoration: line-through;
  margin-left: 10px;
  display: inline-block;
}

.quantity {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.quantity>span {
  font-size: 14px;
  color: #111111;
  font-weight: 600;
  float: left;
  margin-top: 14px;
  margin-right: 15px;
}

.pro-qty {
  height: 50px;
  width: 150px;
  border: 1px solid #ebebeb;
  border-radius: 50px;
  padding: 0 20px;
  overflow: hidden;
  display: inline-block;
}


.pro-qty .qtybtn {
  font-size: 14px;
  color: #666666;
  cursor: pointer;
  float: left;
  width: 12px;
  line-height: 46px;
}


.pro-qty input {
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  border: none;
  float: left;
  width: 84px;
  text-align: center;
  height: 48px;
}

.pro-qty .qtybtn {
  font-size: 14px;
  color: #666666;
  cursor: pointer;
  float: left;
  width: 12px;
  line-height: 46px;
}

.product__details__button .cart-btn {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  background: #ca1515;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 30px 15px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}


.product__details__button ul li {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  padding-top: 1px;
}

.shop__cart__table tbody tr .cart__product__item {
  overflow: hidden;
  width: 585px;
}

.shop__cart__table tbody tr .cart__price {
  font-size: 16px;
  color: #ca1515;
  font-weight: 600;
  width: 190px;
}

.shop__cart__table tbody tr .cart__total {
  font-size: 16px;
  color: #ca1515;
  font-weight: 600;
  width: 150px;
}